name: Krabi Theme Deploy
on:
  push:
    branches:
      - master
      - main
jobs:
  deploy:
    runs-on: tenki-local-ubuntu-22.04-medium-4c-8g
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Krabi Demo
        uses: TryGhost/action-deploy-theme@v1
        with:
          api-url: ${{ secrets.GHOST_ADMIN_API_URL }}
          api-key: ${{ secrets.GHOST_ADMIN_API_KEY }}